{% extends "public/templates/public_template.html" %}

{% block title %}Add Trademark{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/trademark" style="margin-top: 20px;" method="GET" enctype="text/plain" >
        <h3 align="center">Add your Trademark</h3>
        <div class="form-group">
          <label for="trademark">trademark</label>
          <input
            type="text"
            class="form-control"
            id="trademark"
            name="trademark"
            placeholder="請輸入商標"
          />
          <p></p>
          <label for="Column name">Column name</label>
          <input
            type="text"
            class="form-control"
            id="TMcolname"
            name="TMcolname"
            placeholder="請輸入欄位名稱"
          />
        </div>
        <br />
        <button type="submit" class="button">加入商標，取得EXCEL</button>
        <p></p>
        成功藏入商標並取得檔案後，請按下F5以獲得檔案最高值，並<strong>請您將最高值記下來</strong>。
      </form>
    </div>
  </div>
</div>

{% endblock %}
    