{% extends "public/templates/public_template.html" %}

{% block title %}Data Hiding{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/upload-excel" style="margin-top: 20px;" method="POST" enctype="multipart/form-data">
        
        <h3 align="center">Data Hiding</h3>

        <div class="form-group">
          <label>Select an Excel</label>
          <div class="custom-file">
            <input
              type="file" 
              class="form-control" 
              name="excel" 
              id="excel">
            <label class="custom-file-label" for="excel"></label>
          </div>
        </div>

        <div>        
        <button type="submit" class="btn btn-primary">Upload</button>
        <p></p> <!-- 空格 -->
        請先上傳檔案，跳出Excel saved的提示後，再按以下功能按鈕。
        <p></p>
        function 1. <button type="submit" formaction="/add-trademark" class="button">加入商標</button>
        <p></p>
        function 2. <button type="submit" formaction="/add-hash" class="button">加入驗證碼(雜湊值)</button>
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}