{% extends "public/templates/public_template.html" %}

{% block title %}Data Reversing{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/upload-excel-re" style="margin-top: 20px;" method="POST" enctype="multipart/form-data">
        <h3 align="center">Data Reversing</h3>
        
        <div class="form-group">
          <label>Select an Excel</label>
          <div class="custom-file">
            <input
              type="file" 
              class="form-control" 
              name="excel_re" 
              id="excel_re">
            <label class="custom-file-label" for="excel_re"></label>
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
        <p></p>
        請先上傳檔案，跳出Excel saved的提示後，再按以下功能按鈕。
        <p></p>
        <button type="submit" formaction="/take-out-mes" class="button">還原檔案</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
    