{% extends "public/templates/public_template.html" %}

{% block title %}Data Reversing{% endblock %}

{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <form action="/TM_RE" style="margin-top: 20px;" method="GET" enctype="text/plain" >
        <h3 align="center">Enter Peak & Column name</h3>
        <div class="form-group">
            <label for="RETMPeak">Peak</label>
            <input
              type="text"
              class="form-control"
              id="RETMpeak"
              name="RETMpeak"
              placeholder="請輸入最高點"
            />
            <p></p>
            <label for="RETMcolname">Column name</label>
            <input
              type="text"
              class="form-control"
              id="RETMcolname"
              name="RETMcolname"
              placeholder="請輸入欄位名稱"
            />
          </div>
        <br />
        <!--
        <button type="submit" class="button">還原檔案</button>
        -->
        <p></p>
        <button type="submit" formaction="/download_RE/Trademark.txt" class="button">取得檔案中藏的商標</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
    